<template>
    <div ms-controller="gf-select-item">
        <ms:dialog $id="dialog_select_item" ms-skip on-init="dialogInit">
            <span slot="header">选择商品</span>
            <div class="row">
                <div class="col-md-12" ms-controller="gf-select-item_data">
                    <ms:data-box $id="data-box_select_item" on-init="dataBoxInit" config="$data-box_config">
                        <div slot="content">
                            <ms:form model="searchFields">
                                <div class="form-inline">
                                    <ms:control-text label="名称" col="name" ms-cduplex="searchFields.name"></ms:control-text>
                                    <ms:control-select label="类别" col="catalog" store="category" ms-cduplex="searchFields.catalog"></ms:control-select>
                                    <ms:control-text label="单价" col="price" ms-cduplex="searchFields.price"></ms:control-text>
                                </div>
                                <br>
                                <div class="form-inline">
                                    <ms:control-text label="状态" col="state" ms-cduplex="searchFields.state"></ms:control-text>
                                    <button type="button" class="btn btn-info" ms-click="search">
                                        <span class="fa fa-search">
                                        </span>搜索
                                    </button>
                                </div>
                            </ms:form>
                            <ms:table class="table table-hover table-bordered" ms-cprop-data="list" ms-cprop-selection-change="onSelect">
                                <ms:check-header col="id" width="60"></ms:check-header>
                                <ms:table-header col="name" text="商品名称"></ms:table-header>
                                <ms:table-header col="catalog" text="类别"></ms:table-header>
                                <ms:table-header col="price" text="单价"></ms:table-header>
                                <ms:table-header col="store_count" text="剩余数量"></ms:table-header>
                                <ms:table-header col="state" text="状态"></ms:table-header>
                                <ms:table-header text="操作" inline-template>
                                    <a href="javascript:;" class="btn btn-info btn-xs" ms-click="actions.choose(row)"><i class="fa fa-edit"></i> 选择</a>
                                </ms:table-header>
                            </ms:table>
                            <ms:pagination
                                ms-cprop-page-size="pageSize"
                                ms-cprop-total="total" 
                                ms-cprop-current-change="pageChange">
                            </ms:pagination>
                        </div>
                    </ms:data-box>
                </div>
            </div>
        </ms:dialog>
    </div>
</template>