<template>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header bg-green">
                    <span class="widget-caption">Form组件</span>
                </div>
                <div class="widget-body">
                    <ms-form :widget="{$form: @$form, $rules: @$rules}">
                        <ms-form-item :widget="{label:'姓名'}">
                            <ms-input :widget="{value:@record.name,col:'name',$rules:{required:true,message:'请输入文字'}}"></ms-input>
                        </ms-form-item>
                        <ms-form-item :widget="{label:'兴趣'}">
                            <ms-checkbox-group
                                :widget="{value:@record.hobby,col:'hobby',options:[
                                            { label: '编程', value: 'code' },
                                            { label: '其他', value: 'other' }
                                        ],$rules:{required:true,type:'array'}}">
                            </ms-checkbox-group>
                        </ms-form-item>
                        <div class="form-title">教育经历</div>
                        <ms-form-item :widget="{label:'学校'+$index,inline:true}" :for="($index,school) in @record.education">
                            <ms-input :widget="{value:school,col:'education[' + $index +']',placeholder:'学校',$rules:{required:true,message:'请输入文字'}}"></ms-input>
                        </ms-form-item>
                        <button type="button" class="btn btn-primary" :click="@record.education.push('')"><i class="fa fa-plus-circle"></i> 添加教育经历</button>
                        <!--<ms:control-select2 label="性别" col="gender" ms-cduplex="record.gender">
                            <option value="M">男</option>
                            <option value="F">女</option>
                        </ms:control-select2>
                        <ms:control-select2 
                            label="代表作" 
                            col="masterpiece" 
                            ms-cprop-value-list="record.masterpiece" 
                            store="github" 
                            action="repository" 
                            col-key="full_name" 
                            col-val="full_name"
                            multiple="true">
                        </ms:control-select2>
                        <ms:control-datepicker label="出生日期" col="birthday" ms-cduplex="record.birthday"></ms:control-datepicker>
                        <ms:control-file label="头像" col="avatar" ms-cduplex="record.avatar"></ms:control-file>-->
                        <ms-form-item :widget="{label:'个人简介'}">
                            <ms-textarea :widget="{value:@record.bio,col:'bio',rows:5,$rules:{required:true}}"></ms-textarea>
                        </ms-form-item>
                    </ms-form>
                    <pre>{{@json}}</pre>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-info pull-right" :click="@submit"><i class="fa fa-save"></i>提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>