<style>
    .radio-wrapper {
        display: inline;
    }
    .radio-wrapper label.radio-inner {
        padding-left: 0;
    }
</style>
<template>
    <div :class="@wrapper" class="radio-wrapper" style="margin-top: 0; margin-bottom: 0;">
        <label class="radio-inner radio-inner-ie">
            <input type="radio"
                :attr="{id:@helpId,disabled:@disabled,value:@value,name:@name}"
                :duplex="@checked"
                data-duplex-changed="@onChange"
                />
            <span class="text"></span>
        </label>
        <label :attr="{'for':@helpId}" style="padding-left: 0;" :css="{marginRight:@group?8:0}"><slot /></label>
    </div>
</template>