<template>
    <div>
        <h3>{{@message}}</h3>
        <button type="button" :click="@show = true">show dialog</button>
        <ms-dialog :widget="{$innerVm: 'dashboard_from', show: @show, onCancel: @handleCancel}">
            <div slot="body" ms-skip>
                <xmp is="ms-form" :widget="{$form: @$form}">
                    <ms-form-item :widget="{label: '标题'}">
                        <ms-input :widget="{col: 'title'}"></ms-input>
                    </ms-form-item>
                </xmp>
            </div>
        </ms-dialog>
        <br>
        <ms-checkbox :widget="{checked:true,onChange:@handleChange}">同意</ms-checkbox>
        <ms-checkbox :widget="{checked:false,onChange:@handleChange}">不同意</ms-checkbox>

        <ms-select :widget="{showSearch:true,mode:'multiple',onChange:@handleSelectChange}">
            <ms-select-option :widget="{value:'ane'}">Ane</ms-select-option>
            <ms-select-option :widget="{value:'ms-bus'}">ms-bus</ms-select-option>
            <ms-select-option :widget="{value:'up-loader'}">up-loader</ms-select-option>
        </ms-select>
        <ms-select :widget="{mode:'multiple',showSearch:true,remote:true,remoteMethod:@fetchOptions}"></ms-select>
        <input type="text" class="form-control"/>
    </div>
</template>