<template>
    <div>
        <h3>{{@message}}</h3>
        <button type="button" :click="@show = true">show dialog</button>
        <ms-dialog :widget="{show: @show, onCancel: @handleCancel}">
            <span slot="header">Title</span>
            <div slot="body" ms-skip>
                <div :important="dashboard_from">
                    <xmp is="ms-form" :widget="{$form: @$form}">
                        <ms-form-item :widget="{label: '标题'}">
                            <ms-input :widget="{col: 'title'}"></ms-input>
                        </ms-form-item>
                    </xmp>
                </div>
            </div>
        </ms-dialog>
        <ms-table :widget="{data:@list,action:@action,pagination:@pagination,onSelect:@handleSelect,onSelectAll:@handleSelectAll,selectionChange:@handleSelectionChange}">
            <ms-table-header :widget="{dataIndex:'id',type:'selection'}"></ms-table-header>
            <ms-table-header :widget="{title:'地址',dataIndex:'address'}"></ms-table-header>
            <ms-table-header :widget="{title:'省份',dataIndex:'province'}"></ms-table-header>
            <ms-table-header :widget="{title:'名称'}"><span :skip>{{record.name}}</span></ms-table-header>
            <ms-table-header :widget="{title:'操作',dataIndex:'name'}">
                <button type="button" class="btn btn-danger btn-xs" :click="handle('delete')">删除</button>
                <!--<button type="button" class="btn btn-danger btn-xs" :click="action('delete', record[col.dataIndex].$model || record[col.dataIndex], record.$model, $index)">删除</button>-->
            </ms-table-header>
        </ms-table>
        <ms-checkbox :widget="{checked:true,onChange:@handleChange}">同意</ms-checkbox>
        <ms-checkbox :widget="{checked:false,onChange:@handleChange}">不同意</ms-checkbox>
        <br>
        <ms-form>
            <ms-form-item>
                <ms-checkbox-group :widget="{options:@options,onChange:@handleCheckGroupChange,disabled:false}"></ms-checkbox-group>
            </ms-form-item>
        </ms-form>
    </div>
</template>