<template>
    <div ms-attr-class="wrapper">
        <label>
            <input type="checkbox"
                ms-attr-id="helpId"
                ms-duplex="duplex"
                ms-duplex-checked="duplexChecked"
                ms-change="change"
                ms-change-1="innerChnage"
                ms-attr-value="value"
                />
            <span class="text"></span>
        </label>
        <label ms-if="hasLabel" ms-attr-for="helpId" style="padding-left: 0;">{{ label | html }}</label>
    </div>
</template>