<style>
    .checkbox-wrapper {
        display: inline;
    }
    .checkbox-wrapper label.checkbox-inner {
        padding-left: 0;
    }
</style>
<template>
    <div :class="@wrapper" class="checkbox-wrapper" style="margin-top: 0; margin-bottom: 0;">
        <label class="checkbox-inner">
            <input type="checkbox"
                :attr="{id:@helpId,disabled:@disabled}"
                :duplex-checked="@checked"
                />
            <span class="text"></span>
        </label>
        <label :attr="{'for':@helpId}" style="padding-left: 0;"><slot /></label>
    </div>
</template>