<div class="row" ms-controller="demo">
    <div class="col-xs-12 col-md-12">
        <ms:dialog $id="dialog_demo" ms-skip>
            <div class="row">
                <div class="col-md-12" ms-controller="demo.form">
                    <ms:form $id="form_demo" config="$form_config">
                        <ms:control-text label="ID" col="region_id"></ms:control-text>
                        <ms:control-text label="名称" col="region_name"></ms:control-text>
                        <ms:control-text label="PID" col="region_parent_id"></ms:control-text>
                    </ms:form>
                </div>
            </div>
        </ms:dialog>
        <ms:data-box $id="data-box_demo" on-init="dataBoxInit" config="$data-box_config">
            <div slot="content" class="widget">
                <div class="widget-header bg-red">
                    <span class="widget-caption">地区列表</span>
                </div>
                <div class="widget-body">
                    <form class="form-inline">
                        <ms:search-item label="ID" col="region_id"></ms:search-item>
                        <ms:search-item label="名称" col="region_name"></ms:search-item>
                        <ms:search-button class="btn btn-info">搜索</ms:search-button>
                    </form>
                    <div class="table-toolbar">
                        <button class="btn btn-info" ms-click="actions.add">
                            <span class="fa fa-plus">
                            </span>新增地区
                        </button>
                    </div>
                    <ms:table class="table table-hover table-bordered" ms-cprop-data="list">
                        <ms:check-header col="region_id" width="60"></ms:check-header>
                        <ms:table-header text="#" inline-template>{{$outer.$index + 1}}</ms:table-header>
                        <ms:table-header col="region_id" text="ID"></ms:table-header>
                        <ms:table-header col="region_name" text="名称"></ms:table-header>
                        <ms:table-header col="region_parent_id" text="PID"></ms:table-header>
                        <ms:table-header text="操作" inline-template>
                            <a href="javascript:;" class="btn btn-link btn-xs" ms-click="actions.edit(row)"><i class="fa fa-edit"></i> 编辑</a>
                            <a href="javascript:;" class="btn btn-danger btn-xs" ms-click="actions.del(row)"><i class="fa fa-trash-o"></i> 删除</a>
                        </ms:table-header>
                    </ms:table>
                    <ms:pagination
                        ms-cprop-page-size="pageSize"
                        ms-cprop-total="total" 
                        ms-cprop-current-change="pageChange">
                    </ms:pagination>
                </div>
            </div>
        </ms:data-box>
    </div>
</div>