<div class="row" ms-controller="demo.form">
    <div class="col-md-12">
        <form role="form">
            <div class="form-group">
                <span class="input-icon icon-right">
                    <input type="text" class="form-control" placeholder="ID" ms-duplex="demo.region_id">
                    <i class="glyphicon glyphicon-user circular"></i>
                </span>
            </div>
            <div class="form-group">
                <span class="input-icon icon-right">
                    <input type="text" class="form-control" placeholder="Address" ms-duplex="demo.region_name">
                    <i class="fa fa-envelope-o circular"></i>
                </span>
            </div>
            <div class="form-group">
                <span class="input-icon icon-right">
                    <input type="text" class="form-control" placeholder="PID" ms-duplex="demo.region_parent_id">
                    <i class="fa fa-lock circular"></i>
                </span>
            </div>
            <div class="form-group">
                <input type="file" id="file_upload_1">
            </div>
        </form>
    </div>
</div>