.bus-upload-container input {
    position: absolute;
    clip: rect(0 0 0 0);
    outline: none;
}

.bus-upload-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bus-upload-list li {
    margin: 5px 0;
    line-height: 24px;
}

.bus-upload-list li i {
    vertical-align: middle;
}

.bus-upload-list li span {
    margin: 0 4px;
}

.bus-upload-list .bus-upload-btn-close {
    cursor: pointer;
    display: none;
}

.bus-upload-list li:hover i.bus-upload-btn-close {
    display: inline-block;
}

.bus-upload-list li:hover i.text-success {
    display: none;
}