<style>
    .control-file :global .input-group-btn > input {
        position: absolute;
        clip: rect(0 0 0 0);
        outline: none;
    }
</style>
<template>
    <div class="form-group control-file">
        <label class="control-label">{{label}}</label>
        <div class="input-group">
            <input type="text" class="form-control" ms-duplex="duplex" disabled ms-attr-name="col" ms-attr-placeholder="placeholder">
            <span class="input-group-btn">
                <label class="btn btn-info" ms-attr-for="helpId">{{btnText}}</label>
                <input type="file" name="file" ms-attr-id="helpId">
            </span>
        </div>
    </div>
</template>