<template>
    <!-- Page Sidebar Header>
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" ms-click="search"/>
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu" ms-controller="sidebar">
        <!--Dashboard-->
        <li :visible="item.show" 
            :class="[((@actived===item.name || @isChildActived(item)) ? 'active' : ''), ((@opened === item.name && !@compact) ? 'open' : '')]" 
            :for="item in @menu">
            <a :attr="{href: item.href}" 
                :class="[((item.children && item.children.length > 0) ? 'menu-dropdown' : '')]"  
                :click="@menuClick(item)">
                <i :class="['menu-icon', 'glyphicon', item.icon]"></i>
                <span class="menu-text"> {{ item.name }} </span>
                <i class="menu-expand" :if="item.children && item.children.length > 0"></i>
            </a>
            <ul class="submenu" :effect="{is:'collapse',action:@opened == item.name?'enter':'leave'}">
                <li :visible="sub.show" :class="[(actived===sub.name ? 'active' : '')]" :for="sub in item.children || []">
                    <a :attr="{href: sub.href}" :click="@menuClick(sub, item)">
                        <span class="menu-text">{{ sub.title }}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /Sidebar Menu -->
</template>