<style>
    .table-pagination {
        margin: 16px 0;
    }
</style>
<template>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th :if="@needSelection">
                        <ms-checkbox :widget="{id:'checkcheck',checked:@isAllChecked,onChange:@handleCheckAll}"></ms-checkbox>
                    </th>
                    <th :for="el in @columns">{{el.title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr :for="($index, record) in @data | limitBy(@pagination.pageSize, @pagination.pageSize * @pagination.current - @pagination.pageSize)">
                    <td :if="@needSelection">
                        <ms-checkbox :widget="{checked:@checked.indexOf(record[@key])!=-1,onChange:function(){@handleCheck(arguments[0].target.checked,record)}}"></ms-checkbox>
                    </td>
                    <td :for="col in @columns" :html="col.template"></td>
                </tr>
            </tbody>
        </table>
        <div class="table-pagination pull-right">
            <ms-pagination :widget="{current:@pagination.current,pageSize:@pagination.pageSize,total:@pagination.total,onChange:@handlePageChange}"></ms-pagination>
        </div>
        <div class="clearfix"></div>
    </div>
</template>