.goods-image-list {
    list-style: none;
    overflow: hidden;
}

.goods-image-list > li {
    float: left;
    height: 250px;
    padding: 4px;
    border: 2px solid #999999;
    margin: 0 10px 10px 0;
    text-align: center;
}
.goods-image-list > li a.btn {
    display: none;
}
.goods-image-list > li:hover a.btn {
    display: block;
}
.goods-image-list-add > div {
    width: 150px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 50px;
}

.goods-image-list-item > img {
    width: 150px;
    height: 200px;
}