/* reset */
body {
    margin: 0;
}
img {
    border-style: none;
}
button,
input {
  font: inherit; /* opinionated */
  margin: 0;
}
button,
input {
    overflow: visible;
    border: none;
}
button {
    text-transform: none;
    border: none;
    padding: 0;
}

/* 全局字体 */
html {
    font-family: 'Microsoft Yahei';
}

/* LOGO */
.logo {
    position: absolute;
    left: 47px;
    top: 50px;
    width: 210px;
    height: 56px;
    background-image: url(../image/login-logo.png);
}

/* 左侧大图 */
.banner {
    float: left;
    width: 100%;
    height: 667px;
    background-image: url(../image/login-image.png);
    background-size: auto 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../image/login-image.png',
        sizingMethod='clip');
}

/* 右侧面板 */
.panel {
    position: absolute;
    right: 0;
    width: 560px;
    height: 667px;
    background-color: #364760;
    background-image: url(../image/login-background.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.panel-body {
    position: absolute;
    top: 50%;
    left: 16%;
    right: 15%;
    height: 354px;
    margin-top: -177px;
}

/* 登录表单 */
.main-title {
    margin-right: auto;
    margin-left: auto;
    font-size: 31px;
    color: #ffffff;
}
.split {
    display: inline-block;
    height: 28px;
    border-right: solid 1px #d3d7e2;
    margin: 0 10px 0 8px;
    vertical-align: sub
}
.sub-title {
    line-height: 31px;
    font-size: 17px;
    vertical-align: baseline;
    color: #d3d7e2;
}
.clear-float {
    clear: both;
}
.input-group {
    height: 50px;
    padding-top: 38px;
}
.input {
    width: 336px;
    height: 50px;
    line-height: 50px;
    padding: 0px 16px;
    border-radius: 4px;
}
.small-input {
    width: 102px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    padding: 0px 16px;
}
.chaptcha {
    width: 84px;
    height: 32px;
    margin-left: 17px;
    vertical-align: middle;
}
.change {
    font-size: 14px;
    text-decoration: underline;
    color: #3771c5;
    margin-left: 10px;
    cursor: pointer;
}
.btn {
    width: 182px;
    height: 50px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}
.btn-primary {
    color: #ffffff;
    background-color: #3771c5;
    margin-right: 16px;
}
.btn-minor {
    color: #000000;
    background-color: #c7defe;
}

/* 输入框样式 */
#username {
    background: white url(../image/login-icon-user.png) 8px no-repeat;
    padding-left: 32px;
}
#password {
    background: white url(../image/login-icon-password.png) 8px no-repeat;
    padding-left: 32px;
}