<div class="row" ms-controller="gf-channel">
    <div class="col-xs-12 col-md-12">
        <ms:dialog $id="dialog_channel" ms-skip>
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <ms:control-text label="栏目名称" col="name"></ms:control-text>
                        <ms:control-text label="学者姓名" col="author_name"></ms:control-text>
                        <ms:control-text label="学者领域" col="author_field"></ms:control-text>
                        <ms:control-text label="一句话简介" col="brief"></ms:control-text>
                        <ms:control-text label="订阅数" col="store_count"></ms:control-text>
                        <ms:control-text label="专栏头像图" col="tag.thumb"></ms:control-text>
                        <button ms-click="state.selectItem">sdf</button>
                        <ms:control-text label="选择的图片" duplex="state.selection"></ms:control-text>
                    </form>
                </div>
            </div>
        </ms:dialog>
        <ms:data-box $id="data-box_channel" on-init="dataBoxInit" config="$data-box_config">
            <div slot="content" class="widget">
                <div class="widget-header bg-blue">
                    <span class="widget-caption">专栏列表</span>
                </div>
                <div class="widget-body">
                    <form class="form-inline">
                        <ms:search-item label="名称" col="name"></ms:search-item>
                        <ms:search-item label="学者姓名" col="author_name"></ms:search-item>
                        <ms:search-item label="学者领域" col="author_field"></ms:search-item>
                        <ms:search-button class="btn btn-info">搜索</ms:search-button>
                    </form>
                    <div class="table-toolbar">
                        <button class="btn btn-info" ms-click="actions.add">
                            <span class="fa fa-plus">
                            </span>新增专栏
                        </button>
                    </div>
                    <ms:table class="table table-hover table-bordered">
                        <ms:text-header slot="header" col="name" text="栏目名"></ms:text-header>
                        <ms:text-header slot="header" col="author_name" text="学者姓名"></ms:text-header>
                        <ms:text-header slot="header" col="author_field" text="学者领域"></ms:text-header>
                        <ms:text-header slot="header" col="brief" text="一句话简介"></ms:text-header>
                        <ms:text-header slot="header" col="store_count" text="订阅数"></ms:text-header>
                        <ms:action-header slot="header"er text="操作"></ms:action-header>
                    </ms:table>
                    <ms:pagination current-page="1" page-count="4"></ms:pagination>
                </div>
            </div>
        </ms:data-box>
    </div>
</div>