<template>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <ms-dialog :widget="{$innerVm: 'demo_form', show: @show, onOk: @handleOk, title: @isEdit ? '修改' : '新增', onCancel: function () { @show = false; }}">
                <div slot="body" ms-skip>
                    <xmp is="ms-form" :widget="{$form: @$form}">
                        <ms-form-item :widget="{label: 'ID'}">
                            <ms-input :widget="{value:@record.region_id,col: 'region_id', $rules: { required: true, message: '地区ID不能为空' }}"></ms-input>
                        </ms-form-item>
                        <ms-form-item :widget="{label: '名称'}">
                            <ms-input :widget="{value:@record.region_name,col: 'region_name', $rules: { required: true, message: '地区名称不能为空' }}"></ms-input>
                        </ms-form-item>
                        <ms-form-item :widget="{label: 'PID'}">
                            <ms-input :widget="{value:@record.region_parent_id,col: 'region_parent_id', $rules: { required: true, message: '地区PID不能为空' }}"></ms-input>
                        </ms-form-item>
                        <ms-form-item :widget="{label: '套餐'}" :for="($index, el) in @record.suites">
                            <ms-input :widget="{value:el.name,col: 'suites[' + $index + '].name'}"></ms-input>
                        </ms-form-item>
                    </xmp>
                </div>
            </ms-dialog>
            <div class="widget">
                <div class="widget-header bg-red">
                    <span class="widget-caption">地区列表</span>
                </div>
                <div class="widget-body">
                    <ms-form :widget="{$form:@$searchForm,type:'search',inline:true}">
                        <ms-form-item :widget="{label: 'ID'}">
                            <ms-input :widget="{col: 'region_id'}"></ms-input>
                        </ms-form-item>
                        <ms-form-item :widget="{label: '名称'}">
                            <ms-input :widget="{col: 'region_name.firstName'}"></ms-input>
                        </ms-form-item>
                        <ms-form-item :widget="{label: '开始日期'}">
                            <ms-input :widget="{col: 'startDate', $rules: { pattern: @pattern, message: '日期格式不正确' }}"></ms-input>
                        </ms-form-item>
                        <ms-form-item :widget="{label: '结束日期'}">
                            <ms-input :widget="{col: 'endDate'}"></ms-input>
                        </ms-form-item>
                        <button type="button" class="btn btn-info" :click="@search">
                            <span class="fa fa-search"></span>搜索
                        </button>
                    </ms-form>
                    <div class="table-toolbar">
                        <button class="btn btn-info" :click="actions('add')">
                            <span class="fa fa-plus">
                            </span>新增地区
                        </button>
                    </div>
                    <ms-table :widget="{data:@list,action:@actions,pagination:@pagination,onChange:@handleTableChange}">
                        <ms-table-header :widget="{dataIndex:'region_id',type:'selection'}"></ms-table-header>
                        <ms-table-header :widget="{title:'地区',dataIndex:'region_name'}"></ms-table-header>
                        <ms-table-header :widget="{title:'PID',dataIndex:'region_parent_id'}"></ms-table-header>
                        <ms-table-header :widget="{title:'操作',dataIndex:'region_id'}">
                            <button type="button" class="btn btn-primary btn-xs" :click="handle('edit')"><i class="fa fa-edit"></i> 编辑</button>
                            <button type="button" class="btn btn-danger btn-xs" :click="handle('delete')"><i class="fa fa-trash-o"></i> 删除</button>
                        </ms-table-header>
                    </ms-table>
                </div>
            </div>
        </div>
    </div>
</template>