<template>
    <div class="form-group has-feedback" :class="[@className,(@hasRules && @dirty ? (@reasons.length ? 'has-error' : 'has-success') : ''),(inline ? 'form-inline' : '')]">
        <label class="control-label" :if="@label.length">{{@label}}</label>
        <slot />
        <i class="form-control-feedback" :if="@hasRules" :class="[(@dirty ? 'glyphicon' : ''), (@reasons.length ? 'glyphicon-remove' : 'glyphicon-ok')]" :visible="@dirty"></i>
        <small class="help-block" :if="@hasRules && @reasons.length">{{@reasons.length ? @reasons[0].message : ''}}</small>
    </div>
</template>